/* Header & Footer Styles */ 
.header-footer-main {
    @apply bg-blue-200 text-gray-800 p-4;
  }

.header-footer-text {
    @apply text-lg font-semibold text-gray-800;
}


/* Text Styles */ 
.elegant-heading-large {
    @apply font-nunito font-semibold text-darkgray text-xl;
}

.elegant-heading-medium {
    @apply font-nunito font-semibold text-darkgray text-lg;
}

.elegant-heading-small {
    @apply font-nunito font-semibold text-darkgray text-base;
}


/* COMPONENTS */ 


/* classTable */ 
.class-table-header {
    @apply p-2 text-center bg-blue-100;
}

.class-table-border {
    @apply h-screen border border-gray-600 rounded-md overflow-y-auto;
}

.class-table-row {
    @apply p-2 text-center;
}

/* Four-Year Plan*/


/* Semester -> NOT BEING USED BECAUSE SOMETHING IS FAULTY*/ 

.semester {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 320px;
    padding: 8px;
    margin: 8px;
}
  
.semester-header, .semester-footer {
    padding: 8px;
    background-color: #f0f0f0;
}
  
.semester-title {
    text-align: center;
}
  
.column-headers, .class-row {
    display: flex;
    margin-bottom: 4px;
}
  
.class-header, .class-name {
    width: 75%;
}
  
.credits-header, .class-credits {
    width: 25%;
    text-align: center;
}
  
.difficulty {
    width: 50%;
}
  
.total-credits {
    width: 50%;
    text-align: right;
}
  
