/* App General */
.app-background {
    @apply bg-light_gray;
}

/* New Header */
.header-container {
    @apply flex justify-between items-center bg-dark_gray rounded-full p-2 mt-3 box-border;
    position: sticky; /* or you can use fixed */
    top: 0; /* It should stick to the top */
    z-index: 1000; /* To make sure it stays above other content */
    width: 20%;
 }

.menu-items {
    @apply flex items-center ml-9; /* Adjust margin-left here */
}
  

/* Old Header & Footer Styles */ 
.header-footer-main {
    @apply bg-light_gray pb-3;
  }

.header-footer-text {
    @apply text-lg font-semibold text-dark_gray;
}


/* Text Styles */ 
.elegant-heading-large {
    @apply font-nunito font-semibold text-xl;
}

.elegant-heading-medium {
    @apply font-nunito text-lg;
}

.elegant-heading-small {
    @apply font-nunito text-base;
}


/* COMPONENTS */ 


/* classTable */ 
.class-table-header {
    @apply p-2 text-center bg-lighter_gray;
}

.class-table-border {
    @apply h-screen border rounded-l-3xl bg-white overflow-y-auto rounded-r-3xl;
    scrollbar-width: none;
}

.class-table-border::-webkit-scrollbar {
    display: none;
}

.class-table-row {
    @apply p-2 text-center bg-white;
}

/* Four-Year Plan*/
.four-year-plan-border {
    @apply py-4 pt-0 bg-light_gray overflow-x-auto;
    scrollbar-width: none;
}

.four-year-plan-border::-webkit-scrollbar {
    display: none;
}

.border-red {
    border-color: red;
  }
